@font-face {
    font-family: 'sfMoviePoster';
    src: url('../fonts/sf_movie_poster-webfont.eot');
    src: url('../fonts/sf_movie_poster-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf_movie_poster-webfont.woff2') format('woff2'),
         url('../fonts/sf_movie_poster-webfont.woff') format('woff'),
         url('../fonts/sf_movie_poster-webfont.ttf') format('truetype'),
         url('../fonts/sf_movie_poster-webfont.svg#sf_movie_posterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '../fonts/sfMoviePosterBold';
    src: url('../fonts/sf_movie_poster_bold-webfont.eot');
    src: url('../fonts/sf_movie_poster_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf_movie_poster_bold-webfont.woff2') format('woff2'),
         url('../fonts/sf_movie_poster_bold-webfont.woff') format('woff'),
         url('../fonts/sf_movie_poster_bold-webfont.ttf') format('truetype'),
         url('../fonts/sf_movie_poster_bold-webfont.svg#sf_movie_posterbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*body {*/
/*  margin: 0;
  background: url('../img/Sayaw/Sayaw 014.jpg');
  background-repeat: no-repeat;
  background-size: cover;*/
/*}*/

/*#bgvid { */
/*  position: absolute;
  width: auto;
  height: auto;
  z-index: -100;
  background: url('../video/sayawTrailer.png') no-repeat; 
  background-size: cover;
  transition: 1s opacity;
*/
/*}*/

/*.chrome #bgvid {
  left: 0;
  bottom: 0;
  min-width: 100%;
  max-height: 100%;
}*/

.gecko #bgvid { /*firefox */
  right: -8%; /* if video does not load, right = 0*/
  bottom: 0;
  min-width: 100%;
  max-height: 100%;
}

.stopfade { 
   opacity: .5;
}

/*.header {
  width: 100%;
  top: 0;
}*/

.centered {
  margin: auto;
  text-align: center;
}

.carousel {
  position: relative;
  padding-top: 0;
}

/* courtesy of bootstrap, tweaked a little bit.*/
/* Carousel base class */

/* Declare heights because of positioning of img element */
.carousel .item {
  padding-top: 0px;
  padding-bottom: 5px;
  height: 580px;
}

.carousel-inner > .item > img {
  top: 0;
  left: 0;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.carousel-control.right, .carousel-control.left {
  background: rgba(0,0,0,0);
}

#thighHigh {
  max-width: 90%; 
  max-height:90%; 
  padding-top:10px; 
  float: right;
}

.left-subtitle {
  float: right;
  font-family: sfMoviePoster;
  font-weight: bold;
  font-size: 200%;
  color: rgba(0,0,0,1.0);
  letter-spacing: .11em;
  margin-top: -3px;
}

.right-subtitle {
  float: left;
  clear: both;
  font-family: sfMoviePoster;
  font-weight: bold;
  font-size: 200%;
  color: rgba(0,0,0,1.0);
  letter-spacing: .11em; 
  line-height: 1.2;
  margin: 0 0;
}

#main { 
  overflow: hidden;
  width: 100%;
  background: rgba(0,0,0,0.3);
  color: white;
  padding: .5rem;
  font-family: sfMoviePoster;
  font-size: 150%;
  letter-spacing: .11em;
}

#main .container ul { 
  list-style: none; 
  position: relative; 
  float: left; 
  display: block; 
  left: 50%; 
  padding-top: 4px;
  padding-bottom: 4px;
}

#main .container ul li { 
  position: relative; 
  float: left; 
  display: block; 
  right: 50%; 
}

.nav > li > a {
  padding: 0px 15px;
}

#sayawTitle {
  font-family: sfMoviePoster;
  font-size: 720%;
  letter-spacing: .15em;
  color: rgba(195,167,70,1.0);
}

h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-top: 0;
}

.video-container iframe, .video-container object, .video-container embed { 
  /*position: absolute; */
  /*top: 0; */
  /*left: 0; */
/*  position: relative;*/
  /*width: 80%; */
  /*height: 80%; */
}

/*.pause {
  padding-bottom: .5rem;
}

.pause button { 
  display: block;
  width: 5%;
  padding: .2rem;
  border: none; 
  margin: .5rem auto; 
  font-size: 1.3rem;
  background: rgba(0,0,0,0.25);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}

.pause button:hover { 
   background: rgba(0,0,0,0.5);
}

.pause button:focus {
  outline: 0;
}*/

div ul li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background; 
}

a:active, a:hover {
  color: rgba(175,167,70,1.0);
}

@media screen and (max-width: 500px) { 
/*  div{width:100%;} */
}
@media screen and (max-device-width: 800px) {
/*  html { background: url('../video/sayawTrailer.png') #000 no-repeat center center fixed; }
  #bgvid { display: none; }*/
}