@font-face {
    font-family: 'sfMoviePoster';
    src: url('../fonts/sf_movie_poster-webfont.eot');
    src: url('../fonts/sf_movie_poster-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf_movie_poster-webfont.woff2') format('woff2'),
         url('../fonts/sf_movie_poster-webfont.woff') format('woff'),
         url('../fonts/sf_movie_poster-webfont.ttf') format('truetype'),
         url('../fonts/sf_movie_poster-webfont.svg#sf_movie_posterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '../fonts/sfMoviePosterBold';
    src: url('../fonts/sf_movie_poster_bold-webfont.eot');
    src: url('../fonts/sf_movie_poster_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf_movie_poster_bold-webfont.woff2') format('woff2'),
         url('../fonts/sf_movie_poster_bold-webfont.woff') format('woff'),
         url('../fonts/sf_movie_poster_bold-webfont.ttf') format('truetype'),
         url('../fonts/sf_movie_poster_bold-webfont.svg#sf_movie_posterbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  background: #000; 
}

#bgvid { 
  position: absolute;
  width: auto;
  height: auto;
  z-index: -100;
  background: url('../video/sayawTrailer.png') no-repeat; 
  background-size: cover;
  transition: 1s opacity;
}

.chrome #bgvid {
  right: 0;
  bottom: 0;
  min-width: 100%;
  max-height: 100%;
}

.gecko #bgvid { /*firefox */
  right: -8%; /* if video does not load, right = 0*/
  bottom: 0;
  min-width: 100%;
  max-height: 100%;
}

.safari #bgvid {
  /*left: 0; /*coming soon is right of center*/
  /*right: -10%; /* coming soon is left of center */
  /*bottom: 0; /*safari*/
  right: -12.5%; /*if video !load, right = 0; */
  background-position: 5%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.stopfade { 
   opacity: .5;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
}

.centered {
  margin: auto;
  text-align: center;
}

#main { 
  height: 80px;
  overflow: hidden;
  width: 100%;
  background: rgba(0,0,0,0.3);
  color: white;
  padding: .5rem;
  font-family: sfMoviePoster;
  font-size: 150%;
  letter-spacing: .11em;
}

#main .container ul { 
  list-style: none; 
  position: relative; 
  float: left; 
  display: block; 
  left: 50%; 
  padding-top: 10px;
}

#main .container ul li { 
  position: relative; 
  float: left; 
  display: block; 
  right: 50%; 
}

#sayawTitle {
  font-family: sfMoviePoster;
  font-size: 700%;
  letter-spacing: .15em;
  color: rgba(175,167,70,1.0);
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
}

.pause {
  padding-bottom: .5rem;
}

.pause button { 
  display: block;
  width: 5%;
  padding: .2rem;
  border: none; 
  margin: .5rem auto; 
  font-size: 1.3rem;
  background: rgba(0,0,0,0.25);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}
.pause button:hover { 
   background: rgba(0,0,0,0.5);
}

.pause button:focus {
  outline: 0;
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background; 
}
a:hover{
  background:rgba(0,0,0,0.9);
}
@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url('../video/thighHighProd.png') #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}